# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# Django
*.log
/staticfiles/
/media/

# Entorno / secretos
.env

# Certificados y llaves (NUNCA versionar)
*.p12
*.pfx
*.pem
*.key
*.crt

# IDE / SO
.vscode/
.idea/
.DS_Store
